@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

body {
  background-color: #494e60;
  color: #d4d5d9;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #bf8240;
}
a:hover {
  color: #d4d5d9;
}